body {
    overflow-x: hidden;
}
/*==========  Desktop First Method  ==========*/
@media (max-width: 1366px) and (orientation: landscape) {
	.panorama-block, .main-index .why-choose-list-block, .main-paradiz .why-choose-list-block, .main-index .arrival-date-block, .main-paradiz .arrival-date-block, .main-index .reviews-block, .main-paradiz .reviews-block {
    background-attachment: scroll!important;
}
}
@media only screen and (max-width : 1024px) {
	.panorama-block, .main-index .why-choose-list-block, .main-paradiz .why-choose-list-block, .main-index .arrival-date-block, .main-paradiz .arrival-date-block, .main-index .reviews-block, .main-paradiz .reviews-block {
    background-attachment: scroll!important;
}
}


/* Large Devices, Wide Screens */

@media only screen and (max-width : 1260px) {

	.wrap-sale-banner {
		width: 166px;
		top: 170px;
		left: 50%;
		margin-left: -83px;
	}
.main-index .news-block .col-md-4 {
width: calc(100% / 3);
    float: left;
}

}

@media only screen and (max-width : 1200px) {
	.half-block-number.bottom{
		background-size:cover!important;
	}
	.big-block-number.bottom-text{
		background-size:cover!important;
	}
	a.logo>span {
		margin-right: 6%;
	}
	.wrap-sale-banner {
		top: 110px;
	}

	body {

		overflow-x: hidden;

	}

	.left-block .adress {
		margin-top: 8px;
	}

	.main-index .reviews-block .autographed .photo-block,

	.main-paradiz .reviews-block .autographed .photo-block {

		float: none;

		margin: 0 auto;

	}



	.main-standart .galery {

		text-align: center;

	}



	.main-standart .galery li {

		float: none;

		display: inline-block;

		width: 150px;

	}



	.main-rooms .list-vip-rooms li,

	.main-rooms .list-two-rooms li,

	.main-rooms .list-all-rooms li,

	.main-rooms .list-vip-rooms li:hover,

	.main-rooms .list-two-rooms li:hover,

	.main-rooms .list-all-rooms li:hover {

		background-position: center;

		background-size: cover;

	}



	.main-rooms .list-all-rooms .small-block-number {

	    height: 440px;

	}



	.galery,

	.main-room .virtual-tour {

		text-align: center;

		padding-top: 20px;

	}



	.galery li,

	.main-room .virtual-tour li {

		height: auto;

		margin: 10px !important;

		margin-top: 0 !important;

		float: none;

		display: inline-block;

	}


	.main-room .appliances {
		justify-content: center;
	}
	.main-room .appliances li:nth-child(n) {

		/* width: 107px; */

		margin: 0 15px 15px 0;
	}
	.main-room .appliances.next-appliances {
		justify-content: space-between;
	}
	.main-room .appliances.next-appliances li:nth-child(n) {
		width: 49%;
		margin-right: 0;
	}


	.main-room .logo-block {

		text-align: center;

	}



	.main-room .logo-block .col-md-4 {

		width: 100%;

		display: block;

		margin: 20px 0;

	}



	.main-room .logo-block .col-md-8 .what-have li {

		margin-bottom: 20px;

	}



	.main-reservation .button-white {

		margin-right: 10px;

	}



	.header-banner-block .title-header-block .title {

		text-align: center;

	}



	.main-gallery .list-gallerys li {

		background-size: cover;

	}



	.footer .footer-menu-line .menu {

		display: none;

	}



	.main-index .reviews-block .autographed img,

	.main-paradiz .reviews-block .autographed img {

		float: none;

		margin-right: 0;

		margin-bottom: 20px;

		display: inline-block;

	}



	.main-index .galery-block .list-galery,

	.main-index .reviews-block,

	.main-paradiz .galery-block .list-galery,

	.main-paradiz .reviews-block {

		text-align: center;

	}



	.main-index .galery-block .list-galery li,

	.main-paradiz .galery-block .list-galery li {

		float: none;

		display: inline-block;

		background-size: cover;

		background-position: center;

	}



	.main-index .restoraunt-block p {

		padding-right: 0;

		text-align: center;

	}



	.main-index .restoraunt-block {

		text-align: center;

	}



	.main-index .restoraunt-block .list-photos-restoraunt li,

	.main-index .galery-block .list-galery li,

	.main-paradiz .galery-block .list-galery li {

		margin: 0px !important;

		margin-top: 0 !important;
		
		margin-bottom: 0px !important;

	}



	.main-index .restoraunt-block .list-photos-restoraunt {

		text-align: center;

	}



	.main-index .restoraunt-block .list-photos-restoraunt li {

		display: inline-block;

		float: none;

	}



	.main-index .restoraunt-block .list-photos-restoraunt li:nth-child(2),

	.main-index .restoraunt-block .list-photos-restoraunt li:nth-child(4),

	.main-index .restoraunt-block .list-photos-restoraunt li:nth-child(5) {

		max-width: 273px;

		width: 100%;

	}



	.main-index .restoraunt-block .list-photos-restoraunt li:nth-child(2) img,

	.main-index .restoraunt-block .list-photos-restoraunt li:nth-child(4) img,

	.main-index .restoraunt-block .list-photos-restoraunt li:nth-child(5) img {

		width: 100%;

	}



	.main-index .services-block .service-part,

	.main-paradiz .services-block .service-part {

		background-size: cover;

	}



	.main-index .our-rooms-block .big-block-number,

	.main-index .our-rooms-block .small-block-number,

	.main-paradiz .our-rooms-block .big-block-number,

	.main-paradiz .our-rooms-block .small-block-number {

		background-size: cover;

		text-align: center;

	}



	.main-index .our-rooms-block .paragraph-italic,

	.main-paradiz .our-rooms-block .paragraph-italic,

	.main-index .welcome-apartments-hersones-block .paragraph-italic,

	.main-paradiz .welcome-apartments-hersones-block .paragraph-italic,

	.main-index .services-block .paragraph-italic,

	.main-paradiz .services-block .paragraph-italic {

		padding: 0;

	}



	.order-line {

		display: none;

	}



	.header-page .col-md-12 {

		overflow: hidden;

	}

	

	.header-page .left-block .logo-block img {

		width: 220px;

		height: auto;

	}



	.header-page .left-block .weather {

		font-size: 10px;

		line-height: 16px;

		letter-spacing: 3px;

	}



	.header-page .left-block .rating-5,

	.header-page .left-block .rating-10 {

		margin-left: 15px;

		margin-top: 32px;

	}



	/*.header-page .left-block .rating-5,

	.header-page .left-block .rating-10 {

		float: none;

		position: absolute;

	}*/



	.header-page .left-block .rating-5::before,

	.header-page .left-block .rating-10::before {

		background-size: 760px auto;

	}



	.header-page .left-block .rating-5::before {

		top: -5px;

		background-position: -3px -2px;

		width: 51px;

		height: 30px;

	}



	.header-page .left-block .rating-5 {

		padding-left: 60px;

	}



	.header-page .left-block .rating-10::before {

		width: 30px;

		height: 28px;

		background-position: -62px -4px;

	}



	.header-page .left-block .rating-10 {

	    padding-left: 35px;

	}



	.header-page .left-block .rating-10::before {

		top: -4px;

	}



	.header-page .right-block .phones-block a {

		font-size: 24px;

		line-height: 28px;

	}



	.header-page .right-block .phones-block {

		margin-top: 10px;

	}



	.button-yellow {

		font-size: 16px;

	}



	.header-page .right-block .button-yellow {

		margin-top: 18px;

	}



	.header-page .menu {

		display: none;

	}



	#button-menu-mobile {

		display: inline-block;

		position: fixed;

		left: 15px;

		top: 15px;
		
		color: #fff;

	}



	.header-page .left-block .logo-block {

		padding-left: 30px;

	}



}



/* Medium Devices, Desktops */

@media only screen and (max-width : 992px) {

	a.logo>span {
		margin-right: 7%;
	}
	.wrap-sale-banner {
		top: 190px;
		z-index: 1000;
	}

	.socials {
		display: none;
	}

	.socials-mobile {
	    padding: 10px 17px;
	    display: flex !important;
	    align-items: center;
	    -webkit-justify-content: center;
	            justify-content: center;
	    position: relative;
	    width: 346px;
	    margin: 0 auto;
	    margin-right: auto;
	    border-radius: 5px;
	    margin-bottom: 20px;
	    z-index: 1;
	}

	.socials-mobile li {
	    margin: 0 12px 0 0 !important;
	}

	.socials-mobile li a {
		display: flex;
		-webkit-align-content: center;
		        align-content: center;
		-webkit-align-items: center;
		        align-items: center;
	}



	.header-page .right-block .button-yellow {

		vertical-align: top;

		margin-top: 20px;

		margin-right: 10px;

	}



	.header-page .left-block, .header-page .right-block {

		text-align: center;

	}


	.left-block .adress,
	.header-page .left-block .logo-block,

	.header-page .left-block .rating-5,

	.header-page .left-block .rating-10,

	.header-page .right-block .phones-block,

	.header-page .right-block .button-yellow {

		display: inline-block !important;

		float: none !important;

	}

	.left-block .adress {
		position: relative;
    	/*bottom: 24px;*/
	}

	.main-rooms .list-vip-rooms .big-block-number {

		height: 650px;

	}



	.main-rooms .list-vip-rooms li .button-transparent,

	.main-rooms .list-two-rooms li .button-transparent,

	.main-rooms .list-all-rooms li .button-transparent,

	.main-rooms .list-vip-rooms li .button-yellow,

	.main-rooms .list-two-rooms li .button-yellow,

	.main-rooms .list-all-rooms li .button-yellow {

		font-size: 14px;

		bottom: 80px;

		left: 50%;

		width: 150px;

		margin-left: -75px;

	}



	.main-rooms .list-vip-rooms li .button-yellow,

	.main-rooms .list-two-rooms li .button-yellow,

	.main-rooms .list-all-rooms li .button-yellow {

		bottom: 25px;

	}



	.main-room .appliances {

		text-align: center;

	}



	.main-room .appliances li {

		float: none;

		margin: 0 15px 15px 15px;

		display: inline-block;

		vertical-align: top;

	}



	.bread-crumbs li:first-child {

	    margin-right: 12%;

	}



	.main-paradiz .services-block .service-part {

		background-position: center;

		height: 200px;

	}



	.main-paradiz .services-block .service-part:hover {

		background-position: center !important;

	}



	.main-paradiz .main-menu {

		text-align: center;

	}



	.main-paradiz .main-menu p {

		padding: 0 !important;

	}



	.main-paradiz .main-menu img,

	.main-paradiz .wedding-block-description img {

		margin-bottom: 20px;

	}



	.header-banner-block .title-header-block {

		margin-top: 200px;

	}



	.header-banner-block .title-header-block .title {

    	margin: auto auto 0px auto;

    }



	.footer-development-line .row {

		display: flex;

		-webkit-flex-wrap: wrap;

		    -ms-flex-wrap: wrap;

		        flex-wrap: wrap;

	}



	.footer-development-line .row .col-md-6 {

		width: 100%;

	}



	.footer .footer-development-line .developed-in:last-of-type {

		margin-top: 20px;

		margin-bottom: 30px;

	}



	.footer .footer-development-line p,

	.footer .footer-development-line .developed-in:last-of-type {

		text-align: center;

	}



	.footer-development-line .row .col-md-6:nth-child(1) {

		-webkit-order: 2;

		    -ms-order: 2;

		        order: 2;

	}



	.footer-development-line .row .col-md-6:nth-child(2) {

		-webkit-order: 1;

		    -ms-order: 1;

		        order: 1;

	}



	.footer-contacts-line .col-md-4 {

		margin-bottom: 20px;

	}



	.main-index .reviews-block .autographed,

	.main-paradiz .reviews-block .autographed {

		width: 100%;

	}



	.main-index .arrival-date-block input,

	.main-paradiz .arrival-date-block input {

		margin-bottom: 15px;

	}



	.main-index .why-choose-list-block .why-choose-list li {

		width: 49%;

	}



	.header-page-main {

		position: relative;

	}



	.header-page .left-block,

	.header-page .right-block {

		float: none;

		width: 100%;

		overflow: hidden;

	}



	.header-slider {

		/*display: none !important;*/

	}



	.header-page-main {

		/*height: 560px;*/
		
		height: auto;
		
		padding-bottom: 20px;
		
		/*background-image: url(../images/header-slider-1m.jpg);*/
		
		background-image: url(../images/header-slider-2m.jpg);

		background-repeat: no-repeat;

		background-size: cover;

		background-position: center;

	}



	.header-page .left-block,

	.header-page .right-block {

		margin-bottom: 10px;

	}

.header-slider-block .description-block {
top: 0;
    width: 94%;
    left: 3%;
    margin-left: 0;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}
.header-slider-block .description-block .title-slider {
    font-size: 4vw;
    line-height: normal;
}
.header-slider-block .description-block p:not(.title-slider) {
font-size: 2vw;
    line-height: normal;
}
.booking__banner .banner__inner {
    padding: 20px 0;
}
.header-slider-block .owl-nav {
    width: 100%;
    left: 0;
    margin-left: 0px;
    margin-top: -20px!important;
}








}



/* Small Devices, Tablets */

@media only screen and (max-width : 768px) {
	.main-index .services-block .service-part.horizontal-small-services{
		background-position: right;
   	 	background-size: cover;
	}

	.main-index .map-block {
		width: 100%;
		overflow: hidden;
	}

	.restoraunt-block .col-md-12 {
		padding: 0 15px;
	}

	.restoraunt-block .col-md-12 .col-md-6 {
		padding: 0;
	}

	.galery-block .list-galery li {
		width: 120px !important;
		height: 120px !important;
		margin-bottom: 0px !important;
	}

	.main-index .panorama-block,
	.main-paradiz .panorama-block {
		background-attachment: scroll;
		background-position: center center
	}



	#button-menu-mobile {

		left: 15px;

	}



	.main-rooms .list-two-rooms li {

		margin-bottom: 30px !important;

	}



	.main-services .list-gallerys li .photo-block {

		float: none;

		width: 100%;

		height: auto;

	}



	.main-services .list-gallerys li .description-block {

		margin-left: 0;

		min-height: auto;

	}



	.main-services .list-gallerys li .description-block .title-italic::after {

	    bottom: -5px;

	}



	.main-rooms .list-two-rooms .half-block-number,

	.main-rooms .list-all-rooms .small-block-number {

		width: 100%;

	}



	.main-room .room-slider .owl-nav {

		margin-top: -25px;

	}



	.main-room .room-slider .owl-nav .owl-prev,

	.main-room .room-slider .owl-nav .owl-next {

		height: 50px;

		width: 30px;

	}



	.main-reviews .list-reviews li .photo-block,

	.list-reviews li .photo-block {

		float: none;

		margin: 0 auto 20px;

	}



	.main-reviews .list-reviews li .description-block .title a,

	.main-reviews .list-reviews li .description-block .autor time,

	.list-reviews li .description-block .title a,

	.list-reviews li .description-block .autor time {

		float: none;

		display: block;

		margin-top: 20px;

	}



	.bread-crumbs {

		text-align: center;

	}



	.bread-crumbs li {

		margin: 0 !important;

		float: none;

		display: inline-block;

		margin-bottom: 10px !important;

	}



	.bread-crumbs li:last-child {

		float: none;

	}



	.main-reservation .button-white {

		margin-bottom: 20px;

	}



	.main-gallery .list-gallerys .title-gallery {

		font-size: 18px;

		line-height: 24px;

		letter-spacing: 4px;

	}



	.sidebar .form-block {

		padding: 20px 15px;

	}



	.sidebar .form-block .info br {

		display: none;

	}



	.main-contacts .horizontal-list-phones li {

		width: 100%;

		margin-bottom: 15px;

	}



	.main-contacts .horizontal-list-phones.horizontal-list-phones-social li {

		width: 100%;

		margin-bottom: 5px;

	}



	.title-italic {

		font-size: 20px;

		margin-bottom: 10px;

	}



	.title-italic::after {

		bottom: -5px;

	}



	.main-index .arrival-date-block input,

	.main-paradiz .arrival-date-block input {

		display: block;

		margin-left: auto;

		margin-right: auto;

	}



	.main-index .our-rooms-block .small-block-number,

	.main-paradiz .our-rooms-block .small-block-number {

		height: 360px;

	}



	.backstage-text {

		display: none;

	}



	.header-page .left-block {

		width: 100%;

	}



	.header-page .left-block .rating-5,

	.header-page .left-block .rating-10 {

		margin-top: 10px;

	}



	.button-transparent,

	.button-yellow {

		font-size: 14px;

	}



	.button-yellow {

		line-height: 26px;

	}



	.main-standart .block-photo-description .descitpion {

		font-size: 14px;

	}



}



@media only screen and (max-width : 600px) {
	.icon-table>div {
		width: 50%;
	}
	a.logo>span {
		margin-right: 2%;
	}
	.banner-main {
	    top: 445px !important;
	}
	.left-block .adress {
    	bottom: 0;
	}
	.header-banner-block .title-header-block {
	    margin-top: 270px;
	    margin-bottom: 30px;
	}

	.wrap-sale-banner {
		top: 320px;
	}

	.header-page .left-block .logo-block {

		padding-left: 0;

	}



	.header-page .left-block .logo-block,

	.header-page .right-bloc .button-yellow,

	.header-page .right-block .phones-block {

		display: block !important;

		margin: 0 auto !important;

	}



	.header-page .right-block .button-yellow {

		width: 152px;

		margin-right: auto !important;

	}



	.header-page .left-block .rating-5 {

		margin-left: 0;

	}



	.header-page .right-block .phones-block {

		padding-top: 20px;

		text-align: center;

	}



	.header-page .right-block {

		display: flex;

		-webkit-flex-wrap: wrap;

		    -ms-flex-wrap: wrap;

		        flex-wrap: wrap;

		-webkit-flex-direction: column;

		    -ms-flex-direction: column;

		        flex-direction: column;

	}

.header-page .right-block .phones-block {
    padding-left: 58px;
}
.header-page .right-block .phones-block {
    padding-top: 0;
}
.header-page .left-block {
    margin-bottom: 30px;
}
	.header-page .right-block .phones-block {

		text-align: center;

		-webkit-order: 1;

		    -ms-order: 1;

		        order: 1;

	}



	.header-page .right-block .button-yellow {

		margin-left: auto;

		-webkit-order: 2;

		    -ms-order: 2;

		        order: 2;

	}
	.main-standart-red-block .block_2 {flex-direction: column;}

	.main-standart-red-block .block_2_1, .main-standart-red-block .block_2_2 {
		width: 100%;
	}
	
	.main-standart-red-block .block_2_1 {
		border: none;
		border-bottom: 1px solid #fff;
	}
	
	.main-standart-red-block .block_2_2 .block_2_2_1,.main-standart-red-block .block_2_2 .block_2_2_2 {
		width: 100%;
	}
	
	.main-standart-red-block .block_1 ul {
		flex-direction: column;
	}
	
	.main-standart-red-block .block_1 ul li {
		width: 100%;
		align-items: center;
	}
}



/* Extra Small Devices, Phones */

@media only screen and (max-width : 480px) {
	.half-block-number.bottom .title{
		font-size: 14px!important;
		padding: 0 20px;
	}
	.half-block-number.bottom .button-transparent{
		margin-left: 0!important;
	}
	.big-block-number.bottom-text .title{
		font-size: 24px!important;
		padding: 0 20px;
	}
	.header-slider-block .description-block p:not(.title-slider) {
display:none;
}
	.icon-table>div,
	.main-room .appliances.next-appliances li:nth-child(n) {
		width: 100%;
	}
	.icon-list {
		flex-direction: column;
	}
	.socials-mobile {
		width: 260px;
		display: block !important;
		text-align: center;
	}

	.socials-mobile li {
		display: inline-block;
	}

	.socials li:nth-child(2) {
		position: relative;
		top: -8px;
	}

	.socials li:nth-child(1) {
		position: relative;
		top: 5px;
	}

	.main-index .reviews-block .autographed p {
		padding-right: 0 !important;
	}

	.main-index p {
		padding-left: 0px !important;
	}



	.main-standart .block-photo-description .descitpion {

		font-size: 12px;

	}



	.main-standart .border-cursive {

	    margin-left: 5px;

	    padding-left: 15px;

    }



	.main-rooms .list-all-rooms li .room-status {

		font-size: 10px;

	}



	.photo-text img,

	.text-photo img {

		float: none;

		margin-right: 0;

		margin-left: 0;

		width: 100%;

	}



	.main-index .galery-block .list-galery li,

	.main-paradiz .galery-block .list-galery li {

		background-position: center;

	}



	.main-index .galery-block .list-galery li:hover,

	.main-paradiz .galery-block .list-galery li:hover {

		background-position: center !important;

	}



	.main-gallery-in .list-gallery-photos li {

		width: 100% !important;

		height: 200px !important;

	}



	.main-gallery-in .list-gallery-photos li:hover {

		background-position: center;

	}



	.main-gallery .list-gallerys li {

		width: 100%;

	}



	.sidebar .form-block .white-title-underline {

	    margin-bottom: 40px;

	    font-size: 20px;

		line-height: 30px;

	}



	.sidebar .form-block .white-title-underline::after {

	    bottom: -10px;

	}



	.sidebar .form-block input[type="text"],

	.sidebar .form-block input[type="mailto"],

	.sidebar .form-block input[type="tel"] {

		height: 46px;

		padding: 5px 15px;

		margin-bottom: 20px;

		font-size: 16px;

	}



	.sidebar .form-block input[type="submit"] {

		font-size: 16px;

		width: 156px;

		height: 43px;

		line-height: 42px;

	}



	.sidebar .title-sidebar {

    	margin-bottom: 15px;

    	font-size: 16px;

    }



	.sidebar .list-links-gallerys li {

    	padding-bottom: 10px;

    }



	.sidebar .list-links-gallerys li a::before {

		width: 20px;

	}



	.sidebar .list-links-gallerys li a {

		padding-left: 30px;

		font-size: 14px;

	}



	.header-banner-block .title-header-block .title {

		font-size: 18px;
		margin-top: 80px;

	}



	.title-page {

		font-size: 22px;

		line-height: 30px;

	}



	.paragraph-bigger {

		font-size: 18px;

		line-height: 28px;

	}



	.title-italic {

		font-size: 20px;

		line-height: 24px;

	}



	.header-banner-block .title-header-block {

	    margin-top: 260px;

	}



	.insta-block .button-white {

		width: 280px;

		margin-left: -140px;

		margin-top: -33px;

		text-align: center;

	}



	.main-index .galery-block .list-galery li,

	.main-paradiz .galery-block .list-galery li {

		margin-left: 0 !important;

		margin-right: 0 !important;

	}



	.main-index .why-choose-list-block .why-choose-list li {

		width: 100%;

	}



	.h2-title,

	.h3-title {

		font-size: 20px;

		line-height: 26px;

	}



	.main-index .services-block .list-services li a,

	.main-paradiz .services-block .list-services li a {

		text-transform: none;

		font-size: 12px;

	}



	.main-index .services-block .service-part .title-service,

	.main-paradiz .services-block .service-part .title-service {

		font-size: 14px;

		line-height: 20px;

		letter-spacing: 3px;

	}



	.white-paragraph-second {

		width: 100%;

	}



	.main-index .our-rooms-block .big-block-number .button-transparent,

	.main-index .our-rooms-block .small-block-number .button-transparent,

	.main-paradiz .our-rooms-block .big-block-number .button-transparent,

	.main-paradiz .our-rooms-block .small-block-number .button-transparent,

	.main-index .our-rooms-block .big-block-number .button-yellow,

	.main-index .our-rooms-block .small-block-number .button-yellow,

	.main-paradiz .our-rooms-block .big-block-number .button-yellow,

	.main-paradiz .our-rooms-block .small-block-number .button-yellow {

		position: relative;

		bottom: 0;

		right: 0;

		left: 0;

		margin-top: 20px;

		display: block;

		width: 240px;

	}



	.white-title-first {

		font-size: 24px;

		line-height: 34px;

	}



	.white-paragraph-first {

		font-size: 14px;

	}



	.paragraph-italic {

		font-size: 18px;

		line-height: 26px;

	}



	.button-white {

		font-size: 14px !important;

		line-height: 18px !important;

	}



	.paragraph-like-title-h2-h3 {

		font-size: 22px;

		line-height: 28px;

	}



	.h1-title {

		font-size: 30px;

		line-height: 36px;

	}



	.header-page .left-block {

		width: 100%;

		text-align: center;

	}



	.header-page .left-block .logo-block {

		float: none;

		margin-bottom: 20px;

	}



	.header-page .left-block .rating-5,

	.header-page .left-block .rating-10 {

		display: inline-block;

		float: none;

	}



	.header-page .left-block .rating-5 {

		margin-left: 0;

	}



	.header-page .right-block .phones-block,

	.header-page .right-block .button-yellow {

		float: none;

		margin-right: 0;

	}



	.header-page .left-block .logo-block img {

    	width: 200px;

    }

}



/* Custom, iPhone Retina */

@media only screen and (max-width : 320px) {



}





/*==========  Mobile First Method  ==========*/



/* Custom, iPhone Retina */

@media only screen and (min-width : 320px) {



}



/* Extra Small Devices, Phones */

@media only screen and (min-width : 768px) and (max-width : 992px) {
.main-index .services-block .service-part .title-service, .main-paradiz .services-block .service-part .title-service {
    font-size: 18px;
}
.main-index .services-block .col-md-4 {
    width: 33.33333333%!important;
    float: left;
}
.main-index .services-block .col-md-8 {
    width: 66.66666667%!important;
    float: left;
}
.main-index .services-block .service-part.vertical-services, .main-paradiz .services-block .service-part.vertical-services {
    height: 300px;
}
}



/* Small Devices, Tablets */

@media only screen and (max-width : 800px) {

.main-index .news-block .col-md-4 {
width: 100%;
    float: none;
}

}



/* Medium Devices, Desktops */

@media only screen and (min-width : 992px) {

.col-md-show{display: block!important;}

}



 /* Large Devices, Wide Screens */

@media only screen and (min-width : 1200px) {



}

@media screen and (max-width: 980px){
	.booking__banner .text {
    padding-right: 10px;
    padding-top: 20px;
}

}
